@{
	ViewData["Title"] = "Home Page";
}
<h1 style="text-align: center">AMA COSMETICS</h1>
<div style="height: 30em; overflow: hidden">
	<img src="https://images.everydayhealth.com/images/what-are-natural-skin-care-products-alt-1440x810.jpg?w=1110" style="width: 100%">
</div>
<h3 style="margin-top: 3%">
	Dobro došli!
</h3>
<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
	<b>
		Ova web-aplikacija najravljena je sa ciljem da se proizvodi AMA Cosmetics učine dostupnima svim budućim kupcima.
		
	</b>
</div>