@{
    ViewData["Title"] = "Politika privatnosti";
}
  <style>

    h1, h2 {
      color: #F8BBD0; /* Bledo roze boja */
    }
  </style>
  <h1>O nama</h1>

  <p>Dobrodošli u AMA COSMETICS online shop! Mi smo online prodavnica koja se bavi prodajom kozmetičkih proizvoda vrhunskog kvaliteta.</p>

  <h2>Naša misija</h2>
  <p>Naša misija je da vam pružimo širok izbor kozmetičkih proizvoda koji će vam pomoći da se osećate i izgledate sjajno. Svi naši proizvodi su pažljivo odabrani i pažljivo izrađeni kako bi se postigao najbolji mogući kvalitet.</p>

  <h2>Naši proizvodi</h2>
  <p>U našem online shopu možete pronaći širok spektar kozmetičkih proizvoda, uključujući šminku, negu kože, proizvode za negu kose, parfeme i još mnogo toga. Svi naši proizvodi su od renomiranih brendova i garantujemo njihovu autentičnost i kvalitet.</p>

  <h2>Kontaktirajte nas</h2>
  <p>Ako imate pitanja, sugestije ili želite da saznate više o našim proizvodima i uslugama, slobodno nas kontaktirajte. Naša podrška za korisnike je tu da vam pomogne i odgovori na sva pitanja koja imate.</p>

  <p>Hvala vam što ste posetili našu online prodavnicu!</p>


