@model AMA_cosmetics.Models.Narudzba

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Narudzba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojTeleona" class="control-label"></label>
                <input asp-for="BrojTeleona" class="form-control" />
                <span asp-validation-for="BrojTeleona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UkupnaCijena" class="control-label"></label>
                <input asp-for="UkupnaCijena" class="form-control" />
                <span asp-validation-for="UkupnaCijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacanjeID" class="control-label"></label>
                <select asp-for="PlacanjeID" class="form-control" asp-items="ViewBag.PlacanjeID"></select>
                <span asp-validation-for="PlacanjeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKreiranja" class="control-label"></label>
                <input asp-for="DatumKreiranja" class="form-control" />
                <span asp-validation-for="DatumKreiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
